.git
.github
.agents
.codex
.gemini
.vscode
node_modules
vendor
tests
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
public/hot
*.zip
publish.xml
